.meme {
    .meme__container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    margin-bottom: 36px;
    .meme__form {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 15px;
        .meme__inputs {
            display: flex;
            gap: 17px;
            .meme__input {
                padding: 10px 11px;
                width: 230px;
                outline: none;
                border: 1px solid #D5D4D8;
                border-radius: 5px;
            }
        }
        .meme__btn {
            background: linear-gradient(90.41deg, #711F8D 1.14%, #A818DA 100%);
            border-radius: 5px;
            padding: 10px 156px 11px 155px;
            color: white;
            width: 477px;
            cursor: pointer;
            margin-bottom: 36px;
        }
    }
    .meme__img-block {
        position: relative;
        .meme__img {
            max-width: 100%;
            border-radius: 2px;
        }
        .meme__text {
            position: absolute;
            width: 80%;
            text-align: center;
            left: 50%;
            transform: translateX(-50%);
            margin: 15px 0;
            padding: 0 5px;
            font-family: impact, sans-serif;
            font-size: 2em;
            text-transform: uppercase;
            color: white;
            letter-spacing: 1px;
            text-shadow:
                2px 2px 0 #000,
                -2px -2px 0 #000,
                2px -2px 0 #000,
                -2px 2px 0 #000,
                0 2px 0 #000,
                2px 0 0 #000,
                0 -2px 0 #000,
                -2px 0 0 #000,
                2px 2px 5px #000;
        }

        .bottom {
            bottom: 0;
        }

        .top {
            top: 0;
        }
    }
}